.container {
  padding: 0 0.8rem;
  display: grid;
  place-items: center;
}

.backButton {
  all: unset;
  position: absolute;
  left: 0;
  top: 8px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 800px;
}

.title .highlight {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}
.section{
  width: 100%;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1,1fr);
  max-width: 800px;
  justify-content: center;
}

.inputSearch{
  all: unset;
  width: 95%;
  border: 1px solid #eaeaea;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  max-width: 630px;
  margin-bottom: 0.8rem;
}

.pagination{
  margin: 0.8rem;
  display: flex;
  align-items: center;
}

.pagination button{
  all: unset;
  font-size: 1.6rem;
  cursor: pointer;
}

.pagination span{
  font-size: 1.2rem;
}

.pagination > *:not(:last-child){
  margin-right: 0.8rem;
}

.placeholder {
  display: grid;
  place-items: center;
  min-height: 300px;
}

@media only screen and (min-width: 376px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width: 426px){
  .backButton{
    top: 1.5rem;
  }
  .container{
    padding: 0 2rem;
  }
  .card{
    padding: 1.5rem;
  }
  .grid{
    grid-template-columns: repeat(3,1fr);
  }
  .title{
    font-size: 4rem;
  }
}